@model IEnumerable<StoreManagment.ViewModel.Add_ItemVM>

<style>
    .compact-table {
        font-size: 15px;
    }

        .compact-table th, .compact-table td {
            min-width: 100%;
            padding: 10px 5px;
        }

</style>


<section class="section mt-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <b style="color:forestgreen;">Items Stock  List</b>
                        <table class="table table-hover table-responsive  compact-table" id="ItemTable">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Item</th>
                                    <th>Sub-Prod.</th>
                                    <th>Cat.</th>
                                    <th>Serial-No</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                    <th>Sell Price</th>
                                    <th>Exp.Date</th>
                                    @*<th>Img</th>*@
                                    <th>Add Dt.</th>
                                    <th>Upd. Dt.</th>
                                    <th>Delete</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int recordNumber = 1;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@recordNumber</td>
                                        <td hidden>@Html.DisplayFor(modelItem => item.ItemId)</td>
                                        <td style="text-transform: capitalize;">@Html.DisplayFor(modelItem => item.Item_Name)</td>
                                        <td style="text-transform: capitalize;">@Html.DisplayFor(modelItem => item.SubProduct)</td>
                                        <td style="text-transform: capitalize;">@Html.DisplayFor(modelItem => item.ProductCategory)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Item_SerialNumber)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Item_Quantity)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Item_Price)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Item_Selling_Price)</td>
                                        <td>@item.Item_Expiry_Date?.ToString("dd/MM/yyyy")</td>
                                        @*<td> <img src="@item.Image" alt="Item Image" style="max-width: 100px; max-height: 100px;" /></td>*@
                                        <td>@item.CreatedDate?.ToString("dd/MM/yyyy")</td>
                                        <td>@item.UpdatedDate?.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            <button class="btn btn-outline-danger btn-sm" data-id="@item.ItemId" id="Stock_ItmDeleteBtn">
                                                <i class="bi bi-trash3"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn btn-outline-success btn-sm" data-id="@item.ItemId">
                                                <i class="bi bi-pencil"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    recordNumber++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>